<div id="find_a_ride">
  <%= link_to 'Search the rides', search_path, :class => 'gigantic button' %>
</div>
<div id="post_a_ride">
  <%= link_to 'Offer a ride', new_trip_path, :class => 'gigantic button' %>
</div>

