@import 'trip/show';
@import 'trip/new_edit';
@import 'home/show';
@import 'user/show';

@footer_height: 76px;
.rounded_corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -@footer_height;
}
html { 
  background-color: white;
}
body { 
  background-color: white;
  font-size: 13px;
  color: black;
  text-align: left;
  font-family: Tahoma,"Lucida Grande",Sindbad,Kalimati,Verdana,Arial,sans-serif;
  a {
    color: #3D5C9D;
    text-decoration: none;
  }
}
ol, ul {
  list-style:none;
}
p {
  padding: 0;
  margin: 10px 0;
}
#map_canvas {
  width: 65%;
  height: 100%;
  float: right;
}
#directionsPanel {
  margin: 0 5%;
  float: left;
  clear: both;
}
.clear {
  clear:both;
}
.rule {
  clear: both;
  margin: 15px 0;
  height: 0;
  overflow: hidden;
  border-bottom: 1px solid #DDD;
}
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px;
}
#content {
clear: both;
float: left;
padding: 15px;
width: 1000px;
position: relative;
margin-bottom: 30px;
}
header {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  h1 {
    font-size: 3em;
    font-weight: normal;
    margin: .4em;
    float: left;
    letter-spacing: -0.09em;
  }
  nav {
    float: right;
    a {

    }
    ul {
      padding-left: 0;
      list-style: none;
      margin: 8px 0 5px 0;
      li {
        display: inline;
        margin-left: 10px;
      }
    }
  }
}
footer {
  position: relative;
  height: @footer_height; 
  z-index: -1;
  //background: #f0f0f0;
  #inner {
padding: 12px;
width: 700px;
margin: 0 auto;
  }
}

/* Landing Page */
#find_a_ride {
  float: left;
  margin: 20px;
}
#post_a_ride {
  float: left;
  margin: 20px;
  overflow:hidden;
}
/** Landing Page */

// Straight from touring
#detail_panel {
  position: absolute;
  left: 0;
  width:35%;
  height: 100%;
  overflow: auto;
  margin-top: .5em;
  z-index: 2;
}

span.hint {
  font-size: 0.7em;
  display: block;
  clear: both;
  margin-left: 30px;
  margin-bottom: 0.55em;
}
.quiet {
  color: #A0A098;
}
.adp-summary {
  cursor: pointer;
  .adp-directions {
    display:none;  
  }
}
// Home Show Page //
.highlighted-week {
  color: green;
  background: red;
}
// end Home Show Page //


