<header> 
  <div>
    <h1>
      <%= link_to 'rideshare', root_url %>
    </h1>
    <nav>
      <% if current_user %>
        <%= link_to current_user.name+"   ", current_user %>|
        <%= link_to "Log Out", signout_path %>
      <% else %>
        <%= link_to "Sign in with Twitter", "/auth/twitter" %>
      <% end %>
    </nav>
  </div>
</header>
