<header> 
  <div>
    <h1 id="title">
      <a href="/en/" title="HTML5 Rocks Logo"><span class="normal">RIDE</span><span class="rocks">SHARE</span></a>
    </h1>
    <nav>
      <ul>
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign Up</a></li>
      </ul>
    </nav>
  </div>
</header>
