<header> 
  <div>
    <h1>
      <%= link_to 'rideshare', root_url %>
    </h1>
    <nav>
      <ul>
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign Up</a></li>
      </ul>
    </nav>
  </div>
</header>
