<%= javascript_include_tag 'polylineEdit' %>
<%= javascript_include_tag 'map' %>
<script type="text/javascript">
  var cities = <%= @cities.to_json.html_safe %>;
</script>

<div id="map_container"> </div>
