<div style="position: relative; overflow-x: hidden; overflow-y: hidden; " id="town">
  <div style="position: relative; overflow-x: hidden; overflow-y: hidden; " id="home-create">

    <div class="gwt-HTML"><h1>Find and share great day trips</h1></div>
  </div>
  <div style="position: relative; overflow-x: hidden; overflow-y: hidden; " class="panel">
    <div style="position: relative; overflow-x: hidden; overflow-y: hidden; " class="wrap"><input type="text" tabindex="0" class="gwt-TextBox" style="width: 260px; " maxlength="200">
      <div tabindex="0" class="gwt-PushButton query gwt-PushButton-up" role="button" aria-pressed="false"><input type="text" tabindex="-1" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow-x: hidden; overflow-y: hidden; position: absolute; ">
      </div>
    </div>
  </div>
</div>
