<script type="text/javascript">
  var origin_auto = <%=Trip.all.map{|t| t.origin}.uniq.sort.to_json.html_safe%>; 
  var finish_auto = <%=Trip.all.map{|t| t.destination}.uniq.sort.to_json.html_safe%>; 

  $(function() {
    $("#origin").autocomplete({
      source: origin_auto,
      minLength: 0,
      delay: 600
    });
    $("#destination").autocomplete({
      source: finish_auto,
      minLength: 0,
      delay: 600
    });
  })
</script>
<div id="find_a_ride">
  <%= link_to image_tag('homeless.jpeg', :title => "Find a ride"), home_show_path %>
</div>
<div id="post_a_ride">
  <%= link_to image_tag('ride.jpeg', :title => 'Create a ride'), new_trip_path %>
</div>

