#new_trip, .edit_trip {
  margin: 3px 0 0px 30px;
  #trip_origin {
    background: url(/images/a.png) 10px 12px no-repeat
  }
  #trip_destination {
    background: url(/images/b.png) 10px 12px no-repeat
  }
  #trip_start_date {
    background: url(/images/calendar.png) 10px 12px no-repeat
  }
  #trip_duration :input {
    background: url(/images/time.png) 10px 12px no-repeat
  }
  input[type="text"] {
    padding: 5px 5px 5px 34px;
    height: 30px;
    background: white;
    border-bottom-left-radius: 0.25em 0.25em;
    border-bottom-right-radius: 0.25em 0.25em;
    border-top-left-radius: 0.25em 0.25em;
    border-top-right-radius: 0.25em 0.25em;
    //font-size: 100%;
    margin: .75em 0.25em .75em 0;
    width: 200px;
  }
  #trip_start_flexibility {
    display: none;
  }
  #driving_options_link, #driving_options, #trip_start_flexibility {
  }
  #trip_start_date {
    margin-top: 18px;
  }
  #trip_submit {
    margin-top: 18px;
  }
}
#trip_settings {
  .trip_details {
    float: left;
    max-width: 500px;
  }
  #static_map {
  float: right;
  }
  #trip_origin {
    background: url(/images/a.png) 10px 2px no-repeat;
    padding: 0 32px;
    line-height: 20px;
  }
  #trip_destination {
    background: url(/images/b.png) 10px 2px no-repeat;
    padding: 0 32px;
    line-height: 20px;
  }
  .summary_forms {
    clear: both;
  }
  .w_header {
    font-size: x-large;
    display:block;
  }
  .w_summary {
    color: #A0A098;
    }
  #trip_start_date {
    height: 1em;
    background: url(/images/calendar.png) 10px 4px no-repeat;
  }
  .trip_options {
    input {
    }
  }
}

