#trip_show {
  #share {
  clear: both;
  border-top: 1px solid #E9E9E9;
  margin-bottom: 30px;
  float: right;
  width: 225px;
  margin-bottom: 30px;
  background-color: white;
  > a, > div.flag {
  display: block;
  padding: 8px 8px 8px 40px;
  border-bottom: 1px solid #E9E9E9;
  background-repeat: no-repeat;
  background-position: 15px center;
  overflow: hidden;
  }
  a.mail {
  background-image: url(/images/icon-envelope.png);
  }
  a#fav-share {
  background-image: url(/images/fav-star-off.png);
  }
  a.twitter {
  background-image: url(/images/icon-twitter.png) ;
  }
  a.facebook {
  background-image: url(/images/icon-fb.gif);
  }
  a.craigslist {
  background-image: url(/images/craigslist.png);
  }
  div.flag {
  background-image: url(/images/flag.png);
  background-position: 15px 8px;
  }
  form.flag {
  margin: 8px 0;
  display: none;
  }
  }

  #jobdetail-nav {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E9E9E9;
    float: left;
    width: 100%;
    a.returntolist {
      float: left;
    }
    #prev-job {
      padding-left: 25px;
      background: url(/images/arrow-left.png) no-repeat 10px 3px;
      float: left;
    }
    #next-job {
      padding-right: 16px;
      background: url(/images/arrow-right.png) no-repeat right 3px;
      float: right;
    }
    a.returntolist, a.double-arrow-left {
      background: url(/images/dbl-arrow-left.png) no-repeat 0px 3px;
      display: inline-block;
      padding: 0 0 4px 26px;
    }
  }

  .trip_details {
    float: left;
    width: 250px;
  }
  #static_map {
  float: right;
  }
  #trip_origin {
    background: url(/images/a.png) 10px 2px no-repeat;
    padding: 0 32px;
    line-height: 20px;
  }
  #trip_destination {
    background: url(/images/b.png) 10px 2px no-repeat;
    padding: 0 32px;
    line-height: 20px;
  }
  #trip_summary {
  }
  ul#trip_options {
    width: 220px;
    float: left;
    margin-left: 10px;
    border: 1px solid #D9D9D6;
    padding: 8px 4px;
    .rounded_corners;
    li {
    width: 220px;
    float: left;
    display: block;
    }
    li span.property, li.head {
    width: 110px;
    float: left;
    text-align: left;
    padding: 4px 0 4px 10px;
    text-transform: capitalize;
    }
    li span.prop_val {
    width: 80px;
    float: right;
    text-align: right;
    padding: 4px 4px 4px 0;
    word-wrap: break-word;
    }
    li span.unused_val {
      color:gray;
      font-style: italic;
    }
    li:nth-child(even) {
      background: #B4DDB4;
    }
  }
  .edit_summary {
    height: 5em;
    width: 200px;
  }
} 
