#trip_show {
  .trip_details {
    float: left;
    max-width: 500px;
  }
  #static_map {
  float: right;
  }
  #trip_origin {
    background: url(/images/a.png) 10px 2px no-repeat;
    padding: 0 32px;
    line-height: 20px;
  }
  #trip_destination {
    background: url(/images/b.png) 10px 2px no-repeat;
    padding: 0 32px;
    line-height: 20px;
  }
  ul#trip_options {
    width: 220px;
    float: left;
    margin-left: 10px;
    border: 1px solid #D9D9D6;
    padding: 8px 4px;
    .rounded_corners;
    li {
    width: 220px;
    float: left;
    display: block;
    }
    li span.property, li.head {
    width: 110px;
    float: left;
    text-align: left;
    padding: 4px 0 4px 10px;
    text-transform: capitalize;
    }
    li span.prop_val {
    width: 80px;
    float: right;
    text-align: right;
    padding: 4px 4px 4px 0;
    word-wrap: break-word;
    }
    li span.unused_val {
      color:gray;
      font-style: italic;
    }
    li:nth-child(even) {
      background: #B4DDB4;
    }
  }
} 
